@{
    ViewData["Title"] = "Sobre / Créditos";
}
<h2>Sobre / Créditos</h2>
<p>UC: Desenvolvimento Web (2024/2025)</p>
<p>Autores: Cristiane Mayabanza — 24639</p>
<p>Bibliotecas/terceiros: Bootstrap, jQuery, etc. (com links)</p>
<p>Credenciais iniciais para avaliação (exemplo): admin@site.test / Pwd123!</p>